name: Verificar Comunicados

# Rodar a cada 6 horas
on:
  schedule:
    - cron: "0 */6 * * *"  # 0h, 6h, 12h, 18h UTC
  workflow_dispatch:       # permite rodar manualmente também

jobs:
  verificar:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do repositório
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Configurar variável de ambiente do email
      run: echo "EMAIL_PASSWORD=${{ secrets.EMAIL_PASSWORD }}" >> $GITHUB_ENV

    - name: Rodar script Selenium
      run: python script.py
